// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

$font-inter: "Inter", sans-serif;
$font-plus-jakarta: "Plus Jakarta Sans", sans-serif;
$font-gilroy: "Gilroy", sans-serif;
// Fonts end

// Colors
// Colors end

@mixin media($value) {
    @if ($value < 0) {
        @media screen and (min-width: calc($value * (-1)) + 'px') {
            @content;
        }

    } @else {
        @media screen and (max-width: $value + 'px') {
            @content;
        }
    }
}

@mixin secPadding () {
    padding-top: 120rem;

    @include media(850) {
        padding-top: 60rem;
    }
}